@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

* {
  margin: 0;

  body {
    font-family: 'Poppins', sans-serif;
    background-color: #f4f4f4;

    section {
      .container {
        width: 80%;
        margin: 0 auto;

        .add-record {
          background-color: orchid;

          form {
            padding: 20px 10px;

            .field {
              margin-bottom: 10px;

              label {
                display: block;
              }

              input {
                width: 100%;
                box-sizing: border-box;
                padding: 5px 10px;
              }
            }

            input[type="submit"] {
              width: 100%;
            }
          }
        }

        .table-responsive {
          overflow-x: auto;

          table {
            width: 100%;

            thead {
              tr {
                th {
                  text-transform: capitalize;
                  white-space: nowrap;

                  &:first-child {
                    text-transform: uppercase;
                  }
                }
              }
            }

            tbody {
              tr {
                td {
                  text-transform: capitalize;
                  white-space: nowrap;
                  text-align: center;
                }
              }
            }
          }
        }
      }
    }
  }
}